
<div id="tutorielPage">
    <div class="content">
        <h1>Comment utiliser le player audio ?</h1>

        <br/>
        <p>1) Ajouter vos mp3 dans le dossier <i>incoming_songs/</i> présent à la racine du projet</p>
        <br/>
        <p>2) Vos musiques sont traitées et sauvegardées. Elles disparaissent du dossier incoming_songs/. Pas de panique ! Vous pouvez les retrouver classées par album dans le répertoire <i>album/</i></p>
        <br/>
        <p>3) Seul le format .mp3 est accepté. Si vous avez glissé un fichier ayant un mauvais format vous pouvez le retrouver dans le dossier <i>garbage/</i></p>
        <br/>
        <p>4) Attention ! Quand vous supprimez une musique, elle est automatiquement supprimée et cette action est irréversible.</p>
        <br/>
        <p>5) Quand vous changez l'album d'une musique, elle change automatiquement d'album dans le dossier <i>album/</i></p>
        <br/>
        <p>6) Vous pouvez classer et rechercher vos mp3 grâce à la barre de recherche et les titres (année, titre, durée).</p>
    </div>
</div>
